
/*Estilização do componente que ficará no cabeçalho dos passos seguintes*/
.container-steps{

    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    text-align: center;
    margin: 1rem;
    gap: 2rem;
    
}
/*COntainer de steps não marcados*/
.step svg{
    color: #cccccc;
}

/*Parágrafo ativo*/
.step.active p{
    color: #000000;
    font-weight: bold;
}


/*Ajuste do SVG (tamanho) Step*/
.step svg{
    font-size: 35px;
}


/*Step detectado como ativo no momento*/
.step.active svg{
    color: #2873ed;
}



